.btn{
    transition: all 0.3s ease-in-out;
    background-color: #057;
    color: white;
    border: none;
    padding: 10px  15px;

}

.btn:hover{
    background-color: #750;
}

div{
    margin: 5px;
}